
@{
    ViewData["Title"] = "Blog";
}

<!--====== PAGE TITLE PART START ======-->
<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(/assets/images/page-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content text-white">
                    <h3 class="title">Blog</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="text-white">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


 <section class="blog-2-area pb-100 pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30 mb-30">
                        <div class="blog-thumb">
                            <img src="assets/images/blog-1.jpg" alt="blog">
                        </div>
                        <div class="blog-content">
                            <ul>
                                <li><i class="far fa-calendar-alt"></i> 31 July 2024</li>
                                @* <li><i class="far fa-comment"></i> Comments (02)</li> *@
                            </ul>
                            <a href="https://thebftonline.com/2024/07/31/10-promising-agribusinesses-awarded-us10000-each-to-expand-operations/"><h3 class="title">10 promising agribusinesses awarded US$10,000 each to expand operations</h3></a>
                            <p>The Tullow AgriVentures Programme has awarded $10,000 each to ten innovative agribusinesses, including Wami Agro, aiming to enhance job creation, food security, and sustainable growth in the sector through financial support and business development assistance.</p>
                            <a class="main-btn main-btn-2" target="_blank" href="https://thebftonline.com/2024/07/31/10-promising-agribusinesses-awarded-us10000-each-to-expand-operations/">learn more <i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30 mb-30">
                        <div class="blog-thumb">
                            <img src="assets/images/june14.png" alt="blog">
                        </div>
                        <div class="blog-content">
                            <ul>
                                <li><i class="far fa-calendar-alt"></i>14 June 2024</li>
                                @* <li><i class="far fa-comment"></i> Comments (02)</li> *@
                            </ul>
                            <a href="https://mirepaadvisors.com/mirepa-investment-advisors-closes-an-investment-with-wami-agro-limited/"><h3 class="title">Mirepa Investment Advisors closes an investment with Wami Agro Limited</h3></a>
                            <p>Mirepa Investment Advisors (MIA) is glad to announce an investment in Wami Agro Limited; an AgriTech company based in Ghana that delivers tech-enabled solutions to secure sustainable sourcing, improve farmer’s quality of life and protect the environment.</p>
                            <a class="main-btn main-btn-2" target="_blank" href="https://mirepaadvisors.com/mirepa-investment-advisors-closes-an-investment-with-wami-agro-limited/">learn more <i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30 mb-30">
                        <div class="blog-thumb">
                            <img src="assets/images/blog-1.jpg" alt="blog">
                        </div>
                        <div class="blog-content">
                            <ul>
                                <li><i class="far fa-calendar-alt"></i>13 Sept 2023</li>
                                @* <li><i class="far fa-comment"></i> Comments (02)</li> *@
                            </ul>
                            <a href="https://springwise.com/innovation/agriculture-energy/digital-tech-supports-smallholder-farmers-in-ghana/"><h3 class="title">Digital tech supports smallholder farmers in Ghana </h3></a>
                            <p>Through a bundle of services, Wami Agro provides credit, access to fair trade markets and prices, and education that increases knowledge and resilience among farmers, thereby lessening shocks to supply chains and providing a steadier source of income to thousands of families. </p>
                            <a class="main-btn main-btn-2" target="_blank" href="https://springwise.com/innovation/agriculture-energy/digital-tech-supports-smallholder-farmers-in-ghana/" >learn more <i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30 mb-30">
                        <div class="blog-thumb">
                            <img src="assets/images/blog-1.jpg" alt="blog">
                        </div>
                        <div class="blog-content">
                            <ul>
                                <li><i class="far fa-calendar-alt"></i>2 August 2022</li>
                                @* <li><i class="far fa-comment"></i> Comments (02)</li> *@
                            </ul>
                            <a href="https://gna.org.gh/2022/08/impact-investment-agric-firm-partner-to-support-local-rice-farmers-2/"><h3 class="title">Impact investment, Agric firm partner to support local rice farmers</h3></a>
                            <p>Wangara Green Ventures (Wangara), an impact investment fund in Ghana, has invested GHS 2.21 million in Wami Agro Limited (Wami Agro), an AgriTech that supports farmers in rural Ghana.</p>
                            <a class="main-btn main-btn-2" target="_blank" href="https://gna.org.gh/2022/08/impact-investment-agric-firm-partner-to-support-local-rice-farmers-2/">learn more <i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
 

            </div>
        </div>
 </section>