@{
    ViewData["Title"] = "Team Management";
}


<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(assets/images/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h3 class="title">Farm Management</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Farm Management</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>



