@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--====== PAGE TITLE PART START ======-->

<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(assets/images/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h3 class="title">Our Team</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== PAGE TITLE PART ENDS ======-->
<!--====== FARMERS PART START ======-->

<section class="farmers-area team-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-1.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Caleb Edwards</h4>
                            <span>Managing Director</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-2.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Jonah Jones Tuokpier</h4>
                            <span>Executive Director</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-3.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Portia Nyarko</h4>
                            <span>Admin & Corporate Affairs Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-4.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Marrilyn Addison</h4>
                            <span>Finance and Accounts Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-5.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Seyram Loh-Mensah</h4>
                            <span>Business Development Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-6.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Raphael Yaw Hatsu</h4>
                            <span>Projects Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-7.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Priscilla Offei-Asare</h4>
                            <span>Sustainability Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-8.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Angela Adzika</h4>
                            <span>Partnerships & Innovations Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-8.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">Mawuli Akpey</h4>
                            <span>Agritech Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="farmers-item mt-30">
                    <img src="~/assets/images/farmers-8.jpg" alt="farmers">
                    <div class="farmers-overlay">
                        <div class="item">
                            <h4 class="title">
                                Stephen Dinuwaab
                            </h4>
                            <span>Northern Sector Manager</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== FARMERS PART ENDS ======-->
<!--====== FARMS PART START ======-->

<section class="farms-area d-flex align-items-center bg_cover" style="background-image: url(https://wamiagro.com/static/media/csl2.01c37ff3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="farms-content">
                    <span>Looking Organic Food ?</span>
                    <h3 class="title">Want To  Fresh & Organic Food</h3>
                    <a class="main-btn" href="#">See Pukpara <i class="far fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== FARMS PART ENDS ======-->
<!--====== GALLERY PART START ======-->

<section class="gallery-area gallery-3-area">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-6 col-md-8 col-sm-9">
                <div class="section-title text-left">
                    <span>Our Gallery</span>
                    <h3 class="title">Our Latest Product To Build Health</h3>
                </div>
            </div>
        </div>
        <div class="row gallery-active">
            <div class="col-lg-4">
                <div class="gallery-box mt-30">
                    <img src="~/assets/images/gallery-4.jpg" alt="gallery">
                    <div class="gallery-overlay d-flex justify-content-center align-items-end">
                        <div class="item text-center">
                            <h5 class="title">Natural Vegetable</h5>
                            <span>Vegetables Organic</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="gallery-box mt-30">
                    <img src="~/assets/images/gallery-5.jpg" alt="gallery">
                    <div class="gallery-overlay d-flex justify-content-center align-items-end">
                        <div class="item text-center">
                            <h5 class="title">Food Health Check</h5>
                            <span>Food Medical</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="gallery-box mt-30">
                    <img src="~/assets/images/gallery-6.jpg" alt="gallery">
                    <div class="gallery-overlay d-flex justify-content-center align-items-end">
                        <div class="item text-center">
                            <h5 class="title">Organic Fresh Food</h5>
                            <span>Vegetables Organic</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="gallery-box mt-30">
                    <img src="~/assets/images/gallery-5.jpg" alt="gallery">
                    <div class="gallery-overlay d-flex justify-content-center align-items-end">
                        <div class="item text-center">
                            <h5 class="title">Food Health Check</h5>
                            <span>Food Medical</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== GALLERY PART ENDS ======-->
<!--====== BRAND PART START ======-->

<div class="brand-area pb-130">
    <div class="container">
        <div class="row brand-active">
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-1.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-2.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-3.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-4.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-5.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-6.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-2.png" alt="brand">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="brand-item text-center">
                    <img src="~/assets/images/brand-3.png" alt="brand">
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== BRAND PART ENDS ======-->
