@{
    ViewData["Title"] = "WhatWeDo";
}

<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(assets/images/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h3 class="title">What we do</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">What we do</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-us-3-area pb-130">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-md-8">
                <div class="about-us-content">
                    <span>Our Services</span>
                    <!-- <h3 class="title">We Are Best Award Winning Farms</h3> -->
                    <p>
                        Through a bundle of services, Wami Agro provides credit, access to fair trade markets and
                        prices, and education that increases knowledge and resilience among farmers, thereby lessening
                        shocks to supply chains and providing a steadier source of income to thousands of families. <br/> <br/>
                        Wami Credit supplies farmers with seeds, tools, and fertiliser via Village Savings and Loan
                        Associations (VSLAs) that fund farmers with little to no access to commercial bank credit.
                        WamiAgro takes repayment of its loans via the commercial sales of a farmer’s crop. <br/> <br/>
                        Wami Market provides reliable market access with fair prices by buying from various
                        smallholders and selling in bulk to factories, distributors and retailers local and export. Our
                        customers receive a fully traceable product that is grown with biodiverse, regenerative methods
                        that enrich local environments. <br/> <br/>
                        Wami Info educates farmers on new techniques for building capacity and provides important
                        weather updates in local dialects to help improve long-term resilience, even in changing
                        climates.
                    </p>
                    <ul>
                        <li><i class="far fa-check-circle"></i> How To Create Native Cross-Platform Apps With Fuse</li>
                        <li><i class="far fa-check-circle"></i> Web Development Reading List IPFS Wikipedia New Webpack</li>
                        <li><i class="far fa-check-circle"></i> Intrusive Interstitials Guidelines To Avoiding Google's Penalty</li>
                    </ul>
                    <a class="main-btn" href="#">learn more <i class="far fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape text-right">
        <img src="assets/images/shape/shape-5.png" alt="shape">
    </div>
</section>