
@{
    ViewData["Title"] = "WhoWeAre";
}

<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(assets/images/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h3 class="title">Who We Are</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Who we are</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<!--====== ABOUT INFO PART START ======-->



<section class="about-info-area pt-130 pb-130">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-info-thumb ml-30 mr-30">
                    <img src="assets/images/about-thumb-2.jpg" alt="about">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-info-content">
                    <span>About Us</span>
                    <h3 class="title">We Are Best For Your Foods Partners</h3>
                    <p>
                        Wami Agro Limited is a Ghana-based agritech company working hard to close the gap by
                        turning smallholder farmers into stewards of high-production, yet sustainable land.
                        Founded in March 2020, WamiAgro provides credit, access to fair trade markets and prices, and
                        education that increases knowledge and resilience among farmers, thereby lessening shocks to
                        supply chains and providing a steadier source of income to thousands of families.
                        With a network of over 14,000 farmers across 6 regions in Ghana, WamiAgro supports the
                        production and distribution of rice, maize, soya beans, sorghum, vegetables and root tubers.
                        We provide quality and wholesome food ingredients (produce) to FMCGs, Bulk Food
                        Distributors, Animal Feed Processors and Food Service Businesses within and beyond
                        Ghana. We guarantee traceability of all produce sold.
                    </p>
                    @* <p class="text">Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum </p> *@
                    @* <div class="info">
                        <img src="assets/images/user.png" alt="user">
                        <img src="assets/images/sing.png" alt="sing">
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</section>




<section class="features-3-item-area pb-130 pt-120">
    <div class="container" >
        <div class="row">
            <div class="col-lg-5">
                <div class="features-item-title">
                    <span>Our Features</span>
                    <h3 class="title">Explore Our Best Features</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="features-item-text">
                    <p>But I must explain to you how all this mistaken ide nouncing pleaure and praising pain was bor and I will give you complete account of the system, and expound the actual teacings of the great explorer of the truth, the master-builder ways they wins . many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    @* <a href="#">continue reading</a> *@
                </div>
            </div>
        </div>
        <div class="row" style="display:flex; justify-content:space-evenly; ">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-items">
                    <div class="item mt-30">
                        <i class="flaticon-agriculture"></i>
                        <h4 class="title">Mission</h4>
                        <p>
                            To make wholesome food ingredients available, accessible and affordable to factories, FMCG
                            companies and food distributors while ensuring fair trade.
                        </p>
                        @* <a href="#">read more</a> *@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-items">
                    <div class="item mt-30">
                        <i class="flaticon-agriculture-1"></i>
                        <h4 class="title">Vision</h4>
                        <p>
                            To be a leading company driving sustainable food production and supply in Africa.
                        </p>
                        @* <a href="#">read more</a> *@
                    </div>
                </div>
            </div>
           @*  <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-items">
                    <div class="item mt-30">
                        <i class="flaticon-fruit"></i>
                        <h4 class="title">Fresh Vegetables</h4>
                        <p>Quis nostrum exercitationem ullam corpore suscipit laboriosam</p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</section>



<section class="what-we-do-area">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="section-title text-center">
                    <span>What We Do</span>
                    <h3 class="title">Our Values</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="flex-wrap:nowrap;">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">
                    <i class="flaticon-salad"></i>
                    <h4 class="title">Transparency</h4>
                    <p>Open communication and clear information sharing</p>
                    @* <a href="#">read more</a> *@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">
                    <i class="flaticon-milk"></i>
                    <h4 class="title">Respect</h4>
                    <p>
                        Acknowledging the inherent worth of every individual and their contributions to our
                        success.
                    </p>
                    @* <a href="#">read more</a> *@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">
                    <i class="flaticon-sprout"></i>
                    <h4 class="title">Continuous Learning</h4>
                    <p>Each challenge is seen as an opportunity for learning and improvement.</p>
                    @* <a href="#">read more</a> *@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">
                    <i class="flaticon-lemon"></i>
                    <h4 class="title">Perseverance</h4>
                    <p>
                        Resilient, resourceful, and driven, persistent effort and adapting to change.
                    </p>
                    @* <a href="#">read more</a> *@
                </div>
            </div>
           @*  <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">
                    <i class="flaticon-mushroom"></i>
                    <h4 class="title">Security & Safety</h4>
                    <p>But I must explain to you how all this mistaken idea denouncing pleasure and praising pain was born give</p>
                    <a href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">
                    <i class="flaticon-food-1"></i>
                    <h4 class="title">Modern Equipment</h4>
                    <p>But I must explain to you how all this mistaken idea denouncing pleasure and praising pain was born give</p>
                    <a href="#">read more</a>
                </div>
            </div> *@
        </div>
    </div>
</section>