@{
    ViewData["Title"] = "WhoWeAre";
}

<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(/assets/images/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h3 class="title">Who We Are</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Who we are</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== FEATURES 3 ITEM PART START ======-->
<!--====== ABOUT US PART START ======-->

<section class="about-us-3-area pb-130">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-md-8">
                <div class="about-us-content">
                    <span>About Us</span>
                    <h3 class="title">We Support Production and Distribution</h3>
                    <p>
                        Wami Agro Limited is a Ghana-based agritech company working hard to close the gap by turning smallholder farmers into stewards of high-production, yet sustainable land.
                        Founded in March 2020, WamiAgro provides credit, access to fair trade markets and prices, and education that increases knowledge and resilience among farmers, thereby lessening shocks to supply chains and providing a steadier source of income to thousands of families.
                        With a network of over 14,000 farmers across 6 regions in Ghana, WamiAgro supports the production and distribution of rice, maize, soya beans, sorghum, vegetables and root tubers.
                        We provide quality and wholesome food ingredients (produce) to FMCGs, Bulk Food Distributors, Animal Feed Processors and Food Service Businesses within and beyond Ghana. We guarantee traceability of all produce sold.
                    </p>


                </div>
            </div>
        </div>
    </div>
    @* <div class="about-shape text-right">
        <img src="assets/images/shape/shape-5.png" alt="shape">
    </div> *@
</section>
<section class="features-3-item-area pb-130 pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="section-title text-center">
                    <span>Who we are</span>
                    <h3 class="title">We guarantee traceability of all produce sold.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-9">
                <div class="features-items">
                    <div class="item mt-30">

                        <img src="~/assets/images/mission.png"></img>
                        <h4 class="title">Misson</h4>
                        <p>To make wholesome food ingredients available, accessible and affordable to factories, FMCG companies and food distributors while ensuring fair trade.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-9">
                <div class="features-items">
                    <div class="item mt-30">

                        <img src="~/assets/images/vision.png"></img>
                        <h4 class="title">Vision</h4>
                        <p>To drive sustainable food production and supply in Africa.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--====== FEATURES 3 ITEM PART ENDS ======-->


<!--====== ABOUT US PART ENDS ======-->
<!--====== WHAT WE DO PART START ======-->

<section class="what-we-do-area">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="section-title text-center">
                    <span>Our Values</span>
                    <h3 class="title">Why Choose Wami Agro</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">

                    <img src="~/assets/images/transparency.png" />
                    <h4 class="title">Transparency</h4>
                    <p>Open communication and clear information sharing </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">

                    <img src="~/assets/images/communication.png" />
                    <h4 class="title">Respect</h4>
                    <p>Acknowledging the inherent worth of every individual and their contributions to our success.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">

                    <img src="~/assets/images/continuous-learning.png" />
                    <h4 class="title">Continuous Learning</h4>
                    <p>Each challenge is seen as an opportunity for learning and improvement.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="what-we-do-item text-center mt-30">

                    <img src="~/assets/images/perseverance.png" />
                    <h4 class="title">Perseverance</h4>
                    <p>Resilient, resourceful, and driven, persistent effort and adapting to change.</p>

                </div>
            </div>

        </div>
    </div>
</section>

<!--====== WHAT WE DO PART ENDS ======-->
