
@{
    ViewData["Title"] = "WhoWeAre";
}

<section class="page-title-area bg_cover d-flex align-items-center" style="background-image: url(assets/images/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h3 class="title">Who We Are</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Who we are</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<!--====== ABOUT US PART START ======-->

<section class="about-us-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-thumb">
                    <img src="assets/images/about-thumb.jpg" alt="about">
                    <img class="text" src="assets/images/about-text.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content ml-70">
                    <span>About Us</span>
                    <h3 class="title">We Are Best Award Winning Farms</h3>
                    <p>
                        Wami Agro Limited is a Ghana-based agritech company working hard to close the gap by
                        turning smallholder farmers into stewards of high-production, yet sustainable land. <br />
                        Founded in March 2020, WamiAgro provides credit, access to fair trade markets and prices, and
                        education that increases knowledge and resilience among farmers, thereby lessening shocks to
                        supply chains and providing a steadier source of income to thousands of families. <br />
                        With a network of over 14,000 farmers across 6 regions in Ghana, WamiAgro supports the
                        production and distribution of rice, maize, soya beans, sorghum, vegetables and root tubers.
                        We provide quality and wholesome food ingredients (produce) to FMCGs, Bulk Food
                        Distributors, Animal Feed Processors and Food Service Businesses within and beyond
                        Ghana. We guarantee traceability of all produce sold.
                    </p>
                    <ul>
                        <li>
                            <span><span class="counter">85</span>%</span>
                            <p>Satisfied Customers</p>
                        </li>
                        <li>
                            <span><span class="counter">92</span>%</span>
                            <p>Vegetables Natural Food</p>
                        </li>
                        <li>
                            <span><span class="counter">79</span>%</span>
                            <p>Panning And Growth</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== ABOUT US PART ENDS ======-->

