<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>WamiAgro</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/assets/css/all.css">

    <!--====== Flaticon css ======-->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="~/assets/css/LineIcons.html">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <!--====== Sidebar Modal PART START ======-->

    <div class="sidebar-modal">
        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="far fa-times"></i>
                            </span>
                        </button>
                        <h2 class="modal-title" id="myModalLabel2">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo.png" alt="Logo">
                            </a>
                        </h2>
                    </div>
                    <div class="modal-body">
                        <div class="sidebar-modal-widget">
                            <h3 class="title">About Us</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus
                                eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore
                                voluptate, autem pariatur? Dicta pariatur.
                            </p>
                        </div>
                        <div class="sidebar-modal-widget">
                            <h3 class="title">Additional Links</h3>
                            <ul>
                                <li>
                                    <a href="#">Log In</a>
                                </li>
                                <li>
                                    <a href="#">Sign Up</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-modal-widget">
                            <h3 class="title">Contact Info</h3>
                            <ul class="contact-info">
                                <li>
                                    <i class="far fa-map-marker-alt"></i>
                                    Address:
                                    <span>2 Mahogany Hwy, Accra, Ghana</span>
                                </li>
                                <li>
                                    <i class="far fa-envelope"></i>
                                    Email:
                                    <span>hello@wamiagro.com</span>
                                </li>
                                <li>
                                    <i class="far fa-phone"></i>
                                    Phone:
                                    <span>+233 308 040 089</span>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-modal-widget">
                            <h3 class="title">Connect With Us</h3>
                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class='fab fa-facebook-f'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='fab fa-google-plus-g'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='fab fa-linkedin-in'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== Sidebar Modal PART END ======-->
    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="header-top">
            <div class="container">
            </div>
        </div>
        <div class="header-info" style="height: fit-content;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-info-item">
                            <div class="logo">
                                <a href="index-2.html"><img src="~/assets/images/logo.png" alt="logo"></a>
                            </div>
                            <div class="header-info d-lg-flex d-none">
                                <div class="item">
                                    <i class="fal fa-phone"></i>
                                    <span>Phone:</span>
                                    <a href="tel:+233308040089">
                                        <h5 class="title">+233 308 040 089</h5>
                                    </a>
                                </div>
                                <div class="item">
                                    <i class="fal fa-envelope-open"></i>
                                    <span>Email:</span>
                                    <a href="mailto:hello@wamiagro.com">
                                        <h5 class="title">hello@wamiagro.com</h5>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navigation ">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarFive" aria-controls="navbarFive" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button> <!-- navbar toggler -->
                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarFive">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="page-scroll" asp-controller="Home" asp-action="Index">Home</a>

                                        </li>
                                        <li class="nav-item">
                                            <a class="page-scroll" href="#">About Us +</a>
                                            <ul class="sub-menu">
                                                <li><a asp-controller="Home" asp-action="WhoWeAre">Who We Are</a></li>
                                                <li><a asp-controller="Home" asp-action="Team">Team</a></li>
                                                <li>
                                                    <a asp-controller="Home" asp-action="Social">
                                                        Social and Environmental
                                                        Impact
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="page-scroll" href="#" disabled>Our Services</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="page-scroll" href="#">Digital Platforms +</a>
                                            <ul class="sub-menu">
                                                <li><a asp-controller="Home" asp-action="FarmManagement">Pukpara</a></li>
                                                <li><a asp-controller="Home" asp-action="FarmManagement">Wami Market</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="page-scroll" href="#">Services +</a>
                                            <ul class="sub-menu">
                                                <li><a asp-controller="Home" asp-action="WhatWeDo">What We Do</a></li>
                                                <li><a asp-controller="Home" asp-action="FarmManagement">Farm Management</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <div class="navbar-btns">
                                    <ul>
                                        <!-- <li><a class="search-box" href="#"><i class="fal fa-search"></i></a></li> -->
                                        <li>
                                            <a class="d-none d-lg-inline" href="#myModal2" data-toggle="modal">
                                                <i class="fal fa-bars"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav> <!-- navbar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--====== HEADER PART ENDS ======-->
    @RenderBody()

    <!--====== QUESTIONS PART START ======-->
    <div class="questions-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="questions-box">
                        <div class="row justify-content-end">
                            <div class="col-lg-8">
                                <div class="questions-box-item">
                                    <div class="item">
                                        <h3 class="title">
                                            <span>Have Any Questions?</span> Call Us +233 308 040 089
                                        </h3>
                                        <p>Farm Management, Wami Market, etc.</p>
                                        <i class="far fa-phone"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== QUESTIONS PART ENDS ======-->

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-top align-items-center">
                        <div class="footer-logo">
                            <a href="#"><img src="~/assets/images/logo.png" alt=""></a>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a class="active" href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-content">
                        <h4 class="title">About Company</h4>
                        <p>Wami Agro is an AgTech company based in Ghana that delivers tech-enabled solutions to secure sustainable sourcing, improve farmers' quality of life and protect the environment. We typically work with actors in the production and market value chain.</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="footer-list">
                        <h4 class="title">Quick Links</h4>
                        <ul>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Our Services</a></li>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> About Company</a></li>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Meet The Team</a></li>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Our Products</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-list footer-list-2">
                        <h4 class="title">Services</h4>
                        <ul>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Pukpara</a></li>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Schedule a Demo</a></li>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Get a Call</a></li>
                            <li><a href="#"><i class="far fa-long-arrow-right"></i> Online Enquiry</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info mt-30">
                        <h3 class="title">Feel Free, Don’t Hesitate To Contact Us Or Call Us</h3>
                        <ul>
                            <li>
                                <a href="mailto:hello@wamiagro.com">
                                    <i class="fal fa-envelope-open-text"></i>
                                    hello@wamiagro.com
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-map-marker-alt"></i>4th Floor, Atlantic Plaza Meridian Road, Community 1, Tema, Ghana
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copyright-content d-md-flex d-block align-items-center">
                            <p>Copyright © <span>WamiAgro</span> All Rights Reserved</p>
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="#">
            <i class="fal fa-angle-double-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->
    <!--====== jquery js ======-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Counterup js ======-->
    <script src="~/assets/js/jquery.counterup.min.js"></script>

    <!--====== Waypoints js ======-->
    <script src="~/assets/js/waypoints.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script href="~/assets/js/ajax-contact.html"></script>

    <!--====== Main js ======-->

    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
